<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.3.xsd
">
	<!-- Creation of the dependency -->
	<bean id="myReport" class="com.IoC.Report">
		
	</bean>
	
	<!-- Inyecting dependencies -->

	<bean id="directorEmployee" class="com.IoC.DirectorEmployee">
		<constructor-arg ref="myReport"></constructor-arg>
	</bean>
	
	<bean id="bossEmployee" class="com.IoC.BossEmployee">
		<constructor-arg ref="myReport"></constructor-arg>
	</bean>
	
	<bean id="secretaryEmployee" class="com.IoC.SecretaryEmployee">
		<constructor-arg ref="myReport"></constructor-arg>
	</bean>

</beans>